Untitled-1772066903261.n8n
{
  "updatedAt": "2026-02-26T01:03:59.402Z",
  "createdAt": "2026-02-26T00:48:23.604Z",
  "id": "Y78Xzehf1Uc0yDYC",
  "name": "Enriquecimiento de Productos E-commerce IA",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "35e188de-7c7f-4bf3-8496-459aaa66c53f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1456,
        144
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {}
      },
      "id": "621d60ea-43e7-41e0-b0d8-e88e4b66c95a",
      "name": "WooCommerce - Obtener Productos",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        -1232,
        144
      ],
      "notesInFlow": true,
      "notes": "Trae productos. Falta configurar credenciales y filtro."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.meta_data.find(m => m.key === '_n8n_mejorado')?.value }}",
              "operation": "notEqual",
              "value2": "true"
            }
          ]
        }
      },
      "id": "b138f920-933a-40df-a119-d691441d44da",
      "name": "Filtrar Pendientes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1008,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "634ffd24-bc30-4a5c-94a0-1bc02e8b3660",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -784,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Eres un redactor experto en e-commerce.\"}, {\"role\": \"user\", \"content\": \"Nombre: {{$json.name}}\\nCategoría: {{$json.categories[0]?.name}}\\nDescripción actual: {{$json.description}}\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "dac66e51-81af-4d91-988d-0b9ddd269e8d",
      "name": "OpenAI - Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -576,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.images.length === 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f6bd9ec6-a35f-4608-b8e4-795504a19bbf",
      "name": "¿Sin Imagen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -352,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/nano-banana-pro"
            },
            {
              "name": "prompt",
              "value": "Professional studio product photography of a {{ $('Loop').item.json.categories[0]?.name }}, dark moody background, cinematic low-key lighting, sleek and premium aesthetic, high-end electronics, subtle edge lighting, realistic textures, 8k resolution, minimalist setup, blank brand."
            }
          ]
        },
        "options": {}
      },
      "id": "3673e08e-f844-48a6-bba6-19a22ffb62e0",
      "name": "Nano Banana Pro (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -128,
        32
      ]
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "update",
        "productId": "={{ $('Loop').item.json.id }}",
        "updateFields": {
          "description": "={{ $('OpenAI - Texto').item.json.choices[0].message.content }}"
        },
        "dimensionsUi": {},
        "imagesUi": {},
        "metadataUi": {}
      },
      "id": "65791612-8f40-413c-a74b-f33f085d491f",
      "name": "WooCommerce - Actualizar",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        160,
        144
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "WooCommerce - Obtener Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce - Obtener Productos": {
      "main": [
        [
          {
            "node": "Filtrar Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Pendientes": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "OpenAI - Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Texto": {
      "main": [
        [
          {
            "node": "¿Sin Imagen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Sin Imagen?": {
      "main": [
        [
          {
            "node": "Nano Banana Pro (HTTP)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WooCommerce - Actualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nano Banana Pro (HTTP)": {
      "main": [
        [
          {
            "node": "WooCommerce - Actualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c9342d84-e261-4e89-896b-34ed3b4a4281",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-26T00:48:23.608Z",
      "createdAt": "2026-02-26T00:48:23.608Z",
      "role": "workflow:owner",
      "workflowId": "Y78Xzehf1Uc0yDYC",
      "projectId": "ehLaA1iFxTdyufd3",
      "project": {
        "updatedAt": "2026-02-26T00:27:56.351Z",
        "createdAt": "2026-02-26T00:24:14.973Z",
        "id": "ehLaA1iFxTdyufd3",
        "name": "Vinicio Reyes <marcos.reyes.m@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "96219b26-92aa-45f8-866b-6275e4966295"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}